$purple :#501f3a;
$purple-light : #c38d9e;
$pink: #cb2d6f;
$cream: #eee;
$cream-light: #f7f7f7;
$cream-dark:#ddd ;
$blue:#75d8d5;
$blue-dark: #3ba395;

$orange: #e27d60;
$orange-light: #e8a87c;

$orange-pink: #ec848b;

$grey-light: rgb(185, 185, 185);
$color-text: rgb(20, 20, 20);